In [7]:
# it is a key value pair

# mutable: list/sets/dict
# immutable: tuples/strings/int/float/bool/complex

In [8]:
d1={"a":"abs", "b":"abs", 'c':"abs"}
d1

{'a': 'abs', 'b': 'abs', 'c': 'abs'}

In [9]:
d2={[1,2,3]:"a"}

TypeError: unhashable type: 'list'

In [11]:
d3={(1,2,3):"b"}
d3

{(1, 2, 3): 'b'}

In [15]:
d4={"name":'Salman', 'college':'JMI', 'marks':{'m1':67, 'm2':89, 'm3':77}}
d4['name']
d4['marks']['m1']

67

In [18]:
d4['name']='Shams'
d4

{'name': 'Shams', 'college': 'JMI', 'marks': {'m1': 67, 'm2': 89, 'm3': 77}}

In [19]:
d4['age']=24
d4

{'name': 'Shams',
 'college': 'JMI',
 'marks': {'m1': 67, 'm2': 89, 'm3': 77},
 'age': 24}

In [20]:
del d4['college']
d4

{'name': 'Shams', 'marks': {'m1': 67, 'm2': 89, 'm3': 77}, 'age': 24}

In [21]:
for i in d4:
    print(i)

name
marks
age

In [23]:
for i in d4:
    print(i, d4[i])

name Shams
marks {'m1': 67, 'm2': 89, 'm3': 77}
age 24

In [24]:
'name' in d4

True

In [25]:
d4.keys()

dict_keys(['name', 'marks', 'age'])

In [26]:
d4.values()

dict_values(['Shams', {'m1': 67, 'm2': 89, 'm3': 77}, 24])